body {
    background-color: #fff
}

.p {
    font: size 30;
    color: #440606
}

#dev {
    text-decoration: underline;
    z-index: 10;
    width: 20vh;
    display: flex;
    display: -webkit-flex;
    position: relative;
    border-radius: 10px;
    border: 1px solid pink;
}
section{
    background-color: #440606
}