<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<p>hello world</p>
	<p>我终于完成gulp环境配置了，很开心</p>
	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>