<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<p>finish</p>
	<p>start learning es6</p>
	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>